/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    /* box-shadow: 4px 4px 4px brown; */
}

.logo {
    height: 150px;
    /* border: 2px solid red; */

}

.nav-items>ul {
    display: flex;
    /* border: 2px solid red; */
    margin: 0px 30px;

}

.nav-items>ul>li {
    padding: 10px;
    /* border: 2px solid red; */
    margin: 10px;
    list-style: none;
    font-size: 25px;

}

.nav-items>ul>li:hover {
    color: brown;

}

.res-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.res-card {
    padding: 5px;
    height: 450px;
    width: 260px;
    margin: 15px;
    overflow-wrap: break-word;



}

.res-card:hover {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;

}

.res-img {
    width: 100%;
    border-radius: 10px;

}

.filter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-btn {
    margin-left: 10px;
}
.search-box{
    padding: 5px;
    border:2px solid #ecb212;
    outline:none;
    
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
    border: none;
    background-color: #ecb212;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #9e7506;
    color: white;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.shimmer-card {
    width: 260px;
    background-color: #e8e9eb;
    margin: 15px;
    height: 400px;
    border-radius: 10px;
}

.login {
    height: 30px;
    padding: 5px;
    position: relative;
    top: 20px;
}

.search-btn {
    background-color: #ecb212;
    cursor: pointer;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    border: none;
    
}

.search-btn:hover {
    background-color: #9f7906;
    
}